Repository lnittman/turbokit: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "40...80"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 2%
        informational: true
      backend:
        flags:
          - backend
        target: auto
        threshold: 2%
        informational: true
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

flags:
  frontend:
    paths:
      - apps/app/src/
    carryforward: true
  backend:
    paths:
      - packages/backend/convex/
    carryforward: true

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/tests/**"
  - "**/e2e/**"
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/coverage/**"

fix: stabilize project quality gates and typecheck scope
  package.json
  packages/backend/tsconfig.json
  packages/webgl/tsconfig.json
Due: none

feat: add typed starter layout seams and unified state handling
  apps/app/src/layouts/canvas-layout.tsx
  apps/app/src/layouts/chat-layout.tsx
  apps/app/src/layouts/dashboard-layout.tsx
  apps/app/src/layouts/feed-layout.tsx
  apps/app/src/layouts/index.tsx
  apps/app/src/layouts/kanban-layout.tsx
  apps/app/src/layouts/seams.tsx
  apps/app/src/layouts/starter-layout-state.tsx
Due: frontend

feat: restore backend reliability paths for media push and rag
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/app/images/actions.ts
  packages/backend/convex/app/images/internal.ts
  packages/backend/convex/app/images/mutations.ts
  packages/backend/convex/app/images/schema.ts
  packages/backend/convex/app/models/actions.ts
  packages/backend/convex/app/notifications/internal.ts
  packages/backend/convex/app/notifications/mutations.ts
  packages/backend/convex/app/notifications/queries.ts
  packages/backend/convex/lib/push.ts
  packages/backend/convex/lib/rag.ts
  packages/backend/convex/schema.ts
  packages/webgl/src/utils/perf.ts
Due: backend

feat: unify sidebar and command action registry
  apps/app/src/components/layout/actions/registry.tsx
  apps/app/src/components/layout/modal/command/menu/index.tsx
  apps/app/src/components/layout/sidebar/SidebarSettings.tsx
  apps/app/src/components/layout/sidebar/SidebarTransition.tsx
Due: frontend

docs(TEMP-9,TEMP-15): add evidence matrix and anti-drift workflow
  AGENTS.md
  apps/docs/.source/index.ts
  apps/docs/content/docs/delivery-anti-drift.mdx
  apps/docs/content/docs/meta.json
  apps/docs/content/docs/turbokit-vs-next-forge.mdx
  docs/reports/temp-reconciliation-2026-02-06.md
  docs/reports/temp-reconciliation-latest.md
  package.json
  scripts/reconcile-temp.mjs
Due: none

feat(TEMP-20,TEMP-21): migrate shared infra to @lnittman packages + fix lint
  README.md
  apps/app/env.ts
  apps/app/instrumentation-client.ts
  apps/app/instrumentation.ts
  apps/app/next.config.ts
  apps/app/package.json
  apps/app/src/app/(authenticated)/authenticated-shell.tsx
  apps/app/src/app/(authenticated)/layout.tsx
  apps/app/src/app/layout.tsx
  apps/app/src/components/providers.tsx
  packages/auth/AGENTS.md
  packages/auth/CLAUDE.md
  packages/auth/client.ts
  packages/auth/index.ts
  packages/auth/keys.ts
  packages/auth/middleware.ts
  packages/auth/package.json
  packages/auth/provider.tsx
  packages/auth/server.ts
  packages/auth/src/hooks.ts
  packages/auth/src/provider.tsx
  packages/auth/tsconfig.json
  packages/design/index.tsx
  packages/design/package.json
  packages/typescript-config/AGENTS.md
  packages/typescript-config/CLAUDE.md
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
  pnpm-lock.yaml
Due: frontend

feat(TEMP-28): add platform contract v1 and drift guardrail
  package.json
  platform-contract.json
  scripts/platform-check.mjs
Due: none

feat(TEMP-22): telemetry contract hardening and runtime diagnostics
  apps/app/instrumentation.ts
  platform-contract.json
  scripts/platform-check.mjs
Due: none

feat(TEMP-23): add demo seam data for all 5 starter layouts
  apps/app/src/layouts/demo-data.ts
  apps/app/src/layouts/seams.tsx
Due: frontend
